.mainvisual-img__wrapper {
  height: 400px;
  /* object-fit: cover; */
}

.mainvisual-img__wrapper .mainvisual-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.mainvisual {
  position:relative;
  height: 400px;
  width: 100%;
}

.mainvisual-title {
  position:absolute;
  writing-mode: horizontal-tb;
  top:50%;
  transform: translateY(-50%);
  left:50%;
  transform: translateX(-50%);
  text-align: center;

  width:150px;
  height: 50px;
  letter-spacing: 0;

  font-weight: bold;
  font-size: 34px;
  color: #fff;
}