/* フッター開始 */
footer {
  height: 572px;
}

.footer-upper {
  height: 522px;
  background-image: url("../images/bg3.jpg");
}

.footer-menu-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 70px;
}

.footer-menu {
  height: 90px;
  margin: 0 17px;
  font-size: 18px;
  letter-spacing: 10px;

  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
}

.footer-menu-link {
  width: 100%;
  padding: 3px 15px;
  height: 100px;
}

.footer-menu-link:hover,
.footer-menu-link:focus{
  background-color:#f6f6f6;
  transition: 0.3s;
}

.footer-logo {
  width: 40px;
  height: 40px;
  display:inline-block;
  margin: 0 auto;
  margin-top: 60px;
}

.footer-top {
  font-size: 36px;
  margin-top: 40px;
  margin-bottom: 66px;
  text-align: center;
}

.footer-access {
  font-size: 16px;
  width: 350px;
  margin: 0 auto;
  margin-bottom: 15px;
  display:flex;
  justify-content: center;
}

.footer-access-detail {
  margin-right: 20px;
}

.footer-bottom {
  height: 50px;
  background-color: #000;
}

.copyright {
  color: #fff;
  text-align: center;
  font-size:12px;
  padding-top: 17px;
}
/* フッター終了 */