.effect {
  border-top: solid 1px #E7E7E7;
  border-bottom: solid 1px #E7E7E7;
}

.effect-title {
  font-size: 26px;
  text-align: center;
  margin: 70px 0 50px 0 ;
}

.effect-content {
  max-width: 1000px; 
  margin: 0 auto;
  border-collapse: collapse;
  margin-bottom: 70px;
}

.effect-content tr {
  border-top: solid 1px #E7E7E7;
  border-bottom: solid 1px#E7E7E7;
}

.effect-content tr th {
  width: 30%;
  height: 50px;
  text-align: left;
}

.effect-content tr td {
  width: 70%;
  height: 50px;
}